{% extends "base.html" %}

{% block content %}
<div class="row d-flex justify-content-center mx-auto mt-5 ">
    <div
        class="col-6 justify-content-center align-items-center text-center bg-primary p-3 border border-2 border-success rounded text-white">
        <div class="mb-3">
            <h2 class="mx-auto text-white">Forgot Password</h2>

        </div>
        <div class="mb-3">
            <form method="POST" action="/forgot">
                <div class="form-group">
                    <div class="form-group mx-4 p-2">
                        <label for="email" class="form-label">Please enter the email you used to sign up</label>
                        <input class="form-control" type="email" name="email" placeholder="Your Email" autofocus="">
                    </div>
                    <button type="submit button" class="btn btn-light text-primary">Reset Password</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}