{% extends 'base.html' %}

{% block content %}

<div class="container text-center">
    <h1>
        Welcome to Likha
    </h1>
    <br>
    <h3>
        Likha is a text editor that forces you to just write!
    </h3>
    <p>
        <span class="btn btn-warning"> Well not yet...</span>
    </p>
    <p>The following features are still in development but you can still write and save your content!</p>
    <h4 class="my-5">
        The rules are simple:
    </h4>
    <div class="px-3">
        <p class="mx-3">
            Set a timer

        </p>
        <p class="mx-3">
            No backspaces

        </p>
        <p class="mx-3">
            No grammer highlighting

        </p>

        <a href="/create" class="btn btn-info" role="button">Start Writing!</a>

        <a href="/signup" class="btn btn-info" role="button">Create an account!</a>


    </div>

</div>

{% endblock %}